{% extends "layout.html" %}

{% block content %}
<div class="layer"></div><!-- Mobile menu overlay mask -->

<main>
  <!-- SubHeader =============================================== -->
  <section class="header-video">
    <div id="hero_video">
      <div>
        <h3> ¡Bienvenidos a </br> Seguridad Falcon!</h3>
        <p> "Una Empresa Guanacasteca para su seguridad." </p>
        <a id= "btnhdr"class="button_intro" href="views/pages/promociones.html"> Promociones </a>
        <a class="button_intro" href="#get_quote"> Saber Más </a>
      </div>
    </div>
    <img src="img/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="960">
  </section><!-- End Header video -->
  <!-- End SubHeader ============================================ -->

  <div id="get_quote">
    <div class="container">
      <div class="row">
        <div class="col-md-9" align="center">
          <h4>Tenemos todo lo que necesita en <strong>sistemas de seguridad eléctronica</strong>, nuestros precios le sorprenderan.
          ¿Buscando seguridad de calidad a buen precio?</h4><h3> ¡Cotice con nosotros! </h3>
        </div>
        <div class="col-md-3">
          <a href="views/pages/cotizando.php" class="btn_quote"><h4>Cotizar ahora</h4></a>
        </div>
      </div><!-- End row -->
    </div><!-- End container -->
  </div><!-- End Get quote -->

  <br><br>
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div id="intro">
              <h2>"Expertos en Seguridad desde "</h2><br>
          </div>
      </div>

      <div class="col-md-10 col-md-offset-1">
          <div id="intro">
              <p class="lead" align="justify">
                  FALCON ALARM MONITORING C.R, S.A</br>
                  Cédula jurídica: 3-101-663725</br>
                  Nombre comercial: SEGURIDAD FALCON GUANACASTE</br></br>
                  &nbsp Nuestra empresa de seguridad está debidamente registrada y está registrada ante el Ministerio de Seguridad Pública de Costa Rica, en la Dirección de Servicios de Seguridad Privada, según consta en la Licencia de Seguridad Física y Electrónica N°0075-2013DSSP, dada el 10 de Abril del 2013 y la Licencia de Eventos Masivos N°0026-2014DDSSP, dada el 4 de Febrero del 2014, que permite a la empresa ejercer dicho servicio de seguridad en cualquier parte del país.
              </p>
              <p class="lead" align="justify">
                  &nbsp Podés encontrarnos en nuestras oficinas, en Barrio La Cananga frente al Ministerio de Trabajo, Nicoya, Guanacaste.</br>
                  &nbsp Nuestro principal objetivo es brindarle un servicio de calidad en materia de seguridad, con personal capacitado y con experiencia en: Gerencia, Técnicos y Oficiales de Seguridad certificados.
              </p>
          </div>
      </div>
  </div><!-- End row -->

  <div class="container margin_60_35">
      <hr>
      <div class="row">
          <div class="col-sm-3">
              <figure class="animated"><a href="web/pages/servicios.html"><img src="img/ind1.png" alt="" class="img-responsive"></a></figure>
              <center><h3>VIDEO VIGILANCIA</h3></center>
              <p style="text-align: justify;">
                  &nbsp Le ofrecemos un servicio completo sin límite de tecnologías en C.C.T.V. (Circuito Cerrado de Televisión), tecnología de video vigilancia diseñada para supervisar una diversidad de ambientes y actividades cumpliendo con todos las normas de seguridad del sitio y para la seguridad del cliente.
              </p>
          </div>

          <div class="col-sm-3">
              <figure class="animated"><a href="web/pages/servicios.html"><img src="img/ind2.png" alt="" class="img-responsive"></a></figure>
              <center><h3>ALARMA Y RESPUESTA ARMADA</h3></center>
              <p style="text-align: justify;">
                  &nbsp Nuestra empresa y nuestros Oficiales de Seguridad están debidamente inscritos ante la Dirección de Servicios Privados de Seguridad del Ministerio de Seguridad Publica y acreditada por profesionales con amplia experiencia en el campo de la seguridad personal y empresarial.
              </p>
          </div>

          <div class="col-sm-3">
              <figure class="animated"><a href="web/pages/callesegura.html"><img src="img/ind3.png" alt="" class="img-responsive"></a></figure>
              <center><h3>CALLE SEGURA</h3></center>
              <p style="text-align: justify;">
                  &nbsp Con la presencia visual de cámaras de video vigilancia, se genera un impacto positivo en la tranquilidad comunal, quienes mantienen en constante vigilancia el área de su comunicadad.
              </p>
          </div>

          <div class="col-sm-3">
              <figure class="animated"><a href="web/pages/servicios.html"><img src="img/ind4.png" alt="" class="img-responsive"></a></figure>
              <center><h3>MONITOREO 24/7</h3></center>
              <p style="text-align: justify;">
                  &nbsp Seguridad Falcon cuenta con un moderno equipo de monitoreo de alarmas, de los mejores en la industria de los Sistemas de detección de Intruciones. Nuestros formatos de comunicación abarcan varios métodos como señales ADSL, GSM, 3G, 4G, y Fibra Optica; por medio de los protocolos Contact ID e IP (siento la conexion màs recomendad).
              </p>
          </div>
    </div><!-- End row -->
    <hr>
  </div>
  <!--
  <div class="bg_content magnific">
    <div>
      <h3>Nuestro <strong>Video Empresarial</strong></h3>
      <p>
        Conocenos a través de nuestro video corporativo.
      </p>
      <a href="https://www.youtube.com/watch?v=X02tZiqC1uk" class="video"><i class="icon-play-circled2-1"></i></a>
    </div>
  </div> -->
</main><!-- End main -->

{% endblock %}
