<!DOCTYPE html>
<html lang="es">
<head>
  {% include 'partials/head.html' %}
</head>
<body>
  {% include 'partials/nav.html' %}
  {% include 'partials/header.html' %}

  {% block content %}{% endblock %}

  {% include 'partials/footer.html' %}

  <!-- Common scripts -->
  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/common_scripts_min.js"></script>
  <script src="js/functions.js"></script>

  <!-- Specific script -->
  <script src="js/video_header.js"></script>
  <script>
    HeaderVideo.init({
      container: $('.header-video'),
      header: $('.header-video--media'),
      videoTrigger: $("#video-trigger"),
      autoPlayVideo: false
    });
  </script>
  <script src="js/jquery.validate.js"></script>
  <script src="js/jquery.stepy.min.js"></script>
  <script src="js/quotation-validate.js"></script>
    <!-- GOOGLE MAP -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="js/mapmarker.jquery.js"></script>
  <script type="text/javascript" src="js/mapmarker_func.jquery.js"></script>
  <script>
        var anchuraMax=0;
        var alturaMax=0;
        var copos=new Array;

        /**
         * Funcion inicial
         * Tiene que recibir:
         *  numeroCopos a mostrar
         *  anchura y altura por donde aparecen los copos
         *  velocidad de movimiento de los mismos
         */
        function inicializar(numeroCopos, anchura, altura, velocidad)
        {
            var i, x, y;
            copos = new Array(numeroCopos);
            for (i = 0; i<numeroCopos; i++)
            {
                x = parseInt(Math.random()*anchura);
                y = parseInt(Math.random()*altura);
                dibujaCopo(i,x,y);
                copos[i] = document.getElementById("c"+i);
            }
            alturaMax = altura;
            anchuraMax = anchura;
            setInterval(nevar, velocidad);
        }

        // Función inicial que dibuja los copos en la pantalla
        function dibujaCopo(numeroCopo, x, y)
        {
            var tamano = Math.floor(Math.random()*4)+1;
            document.write('<div id="c'+numeroCopo+'" class="copo copo'+tamano+'" style="left:'+x+'px; top:'+y+'px;"></div>');
        }

        // Función que controla el movimiento de los copos por la pantalla
        function nevar()
        {
            var i, x, y;
            for (i = 0; i < copos.length; i++)
            {
                // cogemos las posiciones de cada elemento
                y = parseInt(copos[i].style.top);
                x = parseInt(copos[i].style.left);

                y+=Math.floor(Math.random()*4)+1;
                copos[i].style.top = y;

                // si ha llegado al final de la pantalla
                if(y>document.body.scrollTop+alturaMax)
                {
                    // posicionamos nuevamente en la parte superior
                    copos[i].style.top = document.body.scrollTop-(Math.round(Math.random()*10)+1);
                    // cogemos una posicion horizontal aleatoria
                    copos[i].style.left=parseInt((Math.random()*anchuraMax)+1);
                }
            }
        }
    </script>

  <script>
  inicializar(50, 400, 300, 100, 100, 50);
  </script>

</body>
</html>
