<!DOCTYPE html>
<html lang="es">
<head>
  {% include 'partials/head.html' %}
</head>
<body>
  {% include 'partials/nav.html' %}
  {% include 'partials/header.html' %}

  {% block content %}{% endblock %}

  {% include 'partials/footer.html' %}

  <!-- Common scripts -->
  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/common_scripts_min.js"></script>
  <script src="js/functions.js"></script>

  <!-- Specific script -->
  <script src="js/video_header.js"></script>
  <script>
    HeaderVideo.init({
      container: $('.header-video'),
      header: $('.header-video--media'),
      videoTrigger: $("#video-trigger"),
      autoPlayVideo: false
    });
  </script>
  <script src="js/jquery.validate.js"></script>
  <script src="js/jquery.stepy.min.js"></script>
  <script src="js/quotation-validate.js"></script>

  <!-- Modernizr -->
  <script src="js/modernizr.js"></script>

    <!-- GOOGLE MAP -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="js/mapmarker.jquery.js"></script>
  <script type="text/javascript" src="js/mapmarker_func.jquery.js"></script>

</body>
</html>
