<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SEGURIDAD FALCON-Empresa Nicoyana para su seguridad">
	<meta name="author" content="Ansonika">
	<title>Seguridad Falcon</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/logo1.ico" type="image/x-icon">


	<!-- BASE CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/elegant_font/elegant_font.min.css" rel="stylesheet">
	<link href="css/fontello/css/fontello.min.css" rel="stylesheet">
	<link href="css/magnific-popup.min.css" rel="stylesheet">

	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div><!-- End Preload -->

	<div class="layer"></div><!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
	<header>
		<div id="top_line" style="background-color: #000;">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 hidden-xs">
						<span id="tag_line" style="color: #fff;">"Empresa Guanacasteca para su seguridad"</span>
					</div>
					<div class="col-sm-8">
						<ul id="top_links">
							<li><span id="opening" style="color: #fff;">Lunes - Sábado 8:00am/5:00pm</span><a href="tel://004542344599" id="phone_top">(+506) 2685-3329</a></li>
							<li class="hidden-xs"><a href="#" style="color: #fff;">info@seguridadfalcon.com</a></li>
						</ul>
					</div>
				</div><!-- End row -->
			</div><!-- End container-->
		</div><!-- End top line-->

		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div id="logo">
						<a href="index-2.html"><img src="img/FAM2.png" width="220" height="80" alt="Woodworks" data-retina="true"></a>
					</div>
				</div>
				<nav class="col-xs-9">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
					<div class="main-menu"> 
						<div id="header_menu">
							<img src="img/FAM2.png" width="220" height="80" alt="Home Alarms" data-retina="true">
						</div>
						<a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
						<ul>
							<li><a href="index-2.html">INICIO</a></li>
							<li><a href="nosotros.html">NOSOTROS</a></li>
                           <li><a href="callesegura.html">CALLE SEGURA</a></li>
                            <li class="submenu">
								<a href="servicios.html" class="show-submenu">Servicios<i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="servicios.html">Monitoreo</a></li>
									<li><a href="servicios.html">Respuesta Armada</a></li>
									<li><a href="servicios.html">Instalación CCTV</a></li>
									<li><a href="servicios.html">Escolta de Bienes</a></li>
									<li><a href="servicios.html">Soporte Técnico</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="soluciones.html" class="show-submenu">Soluciones <i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="soluciones.html">Cámaras Básicas</a></li>
									<li><a href="soluciones.html">Cámaras Inteligentes</a></li>
									<li><a href="soluciones.html">Cámaras Térmicas</a></li>
									<li><a href="soluciones.html">Plataforma de Software</a></li>
									<li><a href="soluciones.html">Seguridad Perimetral</a></li>
									<li><a href="soluciones.html">Puerta y Ventana Segura</a></li>
									<li><a href="soluciones.html">Acceso de Puerta</a></li>
									<li><a href="soluciones.html">Dispersor Aerosol OC</a></li>
									<li><a href="soluciones.html">Enlace y Redes</a></li>
									<li><a href="soluciones.html">Detectores de Humo</a></li>
									<li><a href="soluciones.html">Extintores</a></li>
									<li><a href="soluciones.html">Comunidad Segura con Falcon</a></li>
								</ul>
							</li>
							<li><a href="abonados.html">ABONADOS</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li><a href="https://www.facebook.com/seguridadfalconcr/" target="_blank"><img src="img/facebook.jpg" alt=""></a></li>
						</ul>
					</div><!-- End main-menu -->
				</nav>
			</div>
		</div><!-- container -->
		<div id="top_line" style="background-color: #ff0000;"></div>
	</header><!-- End Header -->

	<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/waves2.gif" data-natural-width="1400" data-natural-height="350">
		<div id="sub_content_in">
			<div class="container">
				<h1>Falcon Alarm Monitoring</h1>
				<p>¿Quiénes Somos?</p>
			</div>
		</div>
	</section><!-- End section -->

	<main>
		<div class="container margin_60">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="intro">
                        <p><img src="img/55.jpg" alt="" class="img-responsive"></p>
                        <h2>"Para servir y proteger"</h2>
                        <p class="lead">
                            Falcon Alarm Monitoring CR S.A., conocido comercialmente como Seguridad Falcon Guanacaste, es una empresa fundada a fines de 2012 en Guanacaste, Costa Rica. Fuimos registrados y autorizados en abril de 2013 por el Ministerio de Seguridad Pública, dentro de la división de "Seguridad privada". Falcon Security posee las siguientes licencias No. 0075-2013DSSP y No. 00262014DDSSP, que califican y nos autorizan a ejercer legalmente actividades comerciales especializadas en seguridad electrónica y seguridad de eventos masivos.
                        </p>
                    </div>
                </div>
            </div><!-- End row -->

			<hr>

			<div class="row">

				<div class="col-sm-4">
					<center><h3>¿QUIÉNES SOMOS?</h3></center>
					<p style="text-align: justify;">
						Falcon mantiene sus inicios y su sede en la ciudad colonial de
Nicoya, lo que la convierte en la primera compañía privada
de seguridad electrónica con presencia local para ofrecer
productos y servicios de seguridad electrónica junto con
servicios de respuesta de la guardia armada. Nos esforzamos
y nos enfocamos en la innovación, la investigación y el
desarrollo de nuevas soluciones de seguridad integrales.
Nuestro objetivo es siempre comunicarnos bien con el usuario
final para escuchar sus necesidades como una fuente de
inspiración y una razón más para mejorar.
					</p>
					<p style="text-align: justify;">
						Nuestro negocio en crecimiento ha creado competitividad en
el mercado actual. Lo hemos hecho realidad gracias a un
aumento significativo de las ventas en todas nuestras líneas
de negocio y gracias a la búsqueda continua de mejoras en
la eficiencia de la gestión. El resultado nos permite ofrecer a
nuestros clientes precios competitivos, soporte oportuno de
productos y servicios ajustados a sus necesidades. El objetivo
de nuestra empresa es seguir creciendo a un ritmo sostenido,
reforzando así nuestro liderazgo en el sector de la seguridad
electrónica para beneficio de nuestros clientes.
					</p>
					<center><h3><i class="icon_pushpin_alt"></i>MISIÓN FALCON</h3></center>
					<p style="text-align: justify;">
						Brindar soluciones integrales de seguridad y protección, brindando
servicios y productos de la más alta calidad a nuestros clientes,
alentando a nuestros empleados a desarrollar sus habilidades
profesionales, ofreciendo una rentabilidad creciente y sostenible a
nuestros accionistas y, por supuesto, siendo respetuosos con el
medio ambiente.
					</p>
					
					<center><h3><i class="icon_pushpin_alt"></i>NUESTRA VISIÓN</h3></center>
					<p style="text-align: justify;">
						Ser una empresa ejemplar a nivel nacional, y especialmente en la región de Guanacaste, relacionada con la seguridad y protección residencial, comercial, vehicular y corporativa, aplicando rigurosamente nuestros valores positivos, nuestra filosofía de trabajo ético y caracterizándonos a nosotros mismos brindando seguridad integral soluciones de la más alta calidad tecnológica para el beneficio de nuestros clientes.
					</p>
				</div>
				<div class="col-sm-7 col-sm-offset-1">
					<ul class="feat" id="about">
						<li style="background-color: rgba(51, 0, 0, 0.86);">
							<i class="icon_check_alt2"></i>
							<h4 style="color: #fff;">Equipo humano</h4>
							<p style="text-align: justify; color: #fff;">
								Actualmente la empresa está formada por un equipo de 22 profesionales y con capacitación específica en cada una de sus áreas de actividad. 
								Falcon mantiene una cuidadosa selección y capacitación de su personal.
								Además, desarrolla planes de capacitación y acuerdos de colaboración para tener acceso a mano de obra calificada, capaz de adaptarse a las diferentes necesidades de nuestros Clientes.
							</p>
						</li>
						<li style="background-color: #404040;">
							<i class="icon_check_alt2"></i>
							<h4 style="color: #fff;">Nuestros servicios.</h4>
							<p style="text-align: justify; color: #fff;">
								Los dispositivos electrónicos de seguridad, que instalamos, nos permiten prevenir amenazas, proteger activos y responder a las diferentes eventualidades que puedan surgir (robo, robo interno, control de personas y vehículos, incendio, etc.).
							</p>
							
                            <p style="text-align: justify; color: #fff;">
                            Nuestros sistemas cumplen con los más altos estándares de calidad y se guridad. Trabajamos con marcas reconocidas a nivel mundial, lo que nos permite reducir los costos asociados con la protección y prevención de riesgos.
							</p>
						</li>
						<li style="background-color: #000;">
							<i class="icon_check_alt2"></i>
							<p style="text-align: justify; color: #fff;">
								Nuestras calificaciones positivas de aprobación de los clientes se basan en los resultados obtenidos asociados con los diversos proyectos confiables y de calidad que Falcon entregó a su satisfacción.
							</p>
							<p style="text-align: justify; color: #fff;">
								Al escuchar, y luego analizar en profundidad las necesidades y los requisitos de nuestros clientes, Falcon ofrece los dispositivos de seguridad más apropiados proporcionales a los requisitos y la complejidad de cada proyecto.
							</p>
							
							<p style="text-align: justify; color: #fff;">
								Consideramos las variables y dificultades relacionadas con el entorno del sitio de la instalación, el factor estético y los problemas de rendimiento óptimos resultantes. El resultado es un sistema integrado que garantiza un rendimiento óptimo para cada cliente satisfecho.	</p>
						</li>
						
					</ul>
				</div>
			</div><!-- End row -->

			<hr>
			
            <center><h2>Nuestros dispositivos electrónicos de seguridad abarcan:</h2></center><br><br>
			     <div class="row">
                    	<div class="col-md-3">
                        	 <ul class="feat">
                            	<li>
                                	<img src="img/icon_service_1.png" alt="" width="50" height="54" data-retina="true">
                               	  <h4>Intrusion</h4>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="feat">
                                <li>
                               	  <img src="img/icon_service_3.png" alt="" width="50" height="56" data-retina="true">
                               	  <h4>Video</h4>
                            	</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="feat">
                                <li>
                               	  <img src="img/icon_service_3.png" alt="" width="50" height="56" data-retina="true">
                               	  <h4>Incendio</h4>
                            	</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="feat">
                                <li>
                               	  <img src="img/icon_service_3.png" alt="" width="50" height="56" data-retina="true">
                               	  <h4>Control Acceso</h4>
                            	</li>
                            </ul>
                        </div>
                    </div><!-- End row -->
                    
                    <br><br>
                    
                    <div class="row">
                    	<div class="col-md-3">
                        	 <ul class="feat">
                            	<li>
                                	<img src="img/icon_service_1.png" alt="" width="50" height="54" data-retina="true">
                               	  <h4>Monitoreo</h4>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="feat">
                                <li>
                               	  <img src="img/icon_service_3.png" alt="" width="50" height="56" data-retina="true">
                               	  <h4>Rastreo Satelital</h4>
                            	</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="feat">
                                <li>
                               	  <img src="img/icon_service_3.png" alt="" width="50" height="56" data-retina="true">
                               	  <h4>Conectividad</h4>
                            	</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="feat">
                                <li>
                               	  <img src="img/icon_service_3.png" alt="" width="50" height="56" data-retina="true">
                               	  <h4>Accesorios</h4>
                            	</li>
                            </ul>
                        </div>
                    </div><!-- End row -->
                    
            <br><br><hr>

            <center><h2>Marcas con reconocimiento internacional</h2></center><br><br>
			 <div class="row">
				<div class="col-sm-4">
					<figure class="animated"><a><img src="img/marca1.jpg" alt="" class="img-responsive"></a></figure>

				</div>
				<div class="col-sm-4">
					<figure class="animated"><a><img src="img/marca2.jpg" alt="" class="img-responsive"></a></figure>

				</div>
				<div class="col-sm-4">
					<figure class="animated"><a><img src="img/marca3.jpg" alt="" class="img-responsive"></a></figure>

				</div>
				<div class="col-sm-4">
					<figure class="animated"><a><img src="img/marca4.jpg" alt="" class="img-responsive"></a></figure>

				</div>
				<div class="col-sm-4">
					<figure class="animated"><a><img src="img/marca5.jpg" alt="" class="img-responsive"></a></figure>

				</div>
                 <div class="col-sm-4">
					<figure class="animated"><a><img src="img/marca6.jpg" alt="" class="img-responsive"></a></figure>

				</div>
                 
			</div><!-- End row -->
                    
                                <br><br><hr>

            <center><h2>Algunos de nuestros valiosos clientes</h2></center><br><br>
			     <div class="row">
				<div class="col-sm-4">
					<figure><a><img src="img/clientes1.png" alt="" class="img-responsive"></a></figure>

				</div>
				<div class="col-sm-4">
					<figure><a><img src="img/clientes2.jpg" alt="" class="img-responsive"></a></figure>

				</div>
				<div class="col-sm-4">
					<figure><a><img src="img/clientes3.jpg" alt="" class="img-responsive"></a></figure>

				</div>
				</div>
				<br><br>
				<div class="row">
				<div class="col-sm-4">
					<figure><a><img src="img/clientes4.jpg" alt="" class="img-responsive"></a></figure>

				</div>
				<div class="col-sm-4">
					<figure><a><img src="img/clientes5.jpg" alt="" class="img-responsive"></a></figure>

				</div>
                 <div class="col-sm-4">
					<figure><a><img src="img/clientes6.jpg" alt="" class="img-responsive"></a></figure>

				</div>
                 
			</div><!-- End row -->

        
<!--			<div class="text-center">
				<h2>Nuestras marcas mundialmente famosas</h2>
			</div>
			
			<div class="row">
				<div class="owl-carousel team-carousel">

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-1.jpg" alt="">
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-2.jpg" alt="">
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-3.jpg" alt="">
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-4.jpg" alt="">
						</div>
					</div>
				</div>
			</div>-->
			
			
		</div>

<!--		<section class="promo_full">
			<div class="promo_full_wp">
				<div>
					<h3>Algunos de nuestros valiosos clientes</h3>
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="carousel_testimonials">
									
									<div>
										<center><img src="img/cliente1.jpg" alt=""></center>
									</div>

									<div>
										<div class="box_overlay">
							                <center><img src="img/cliente1.jpg" alt=""></center>
										</div>
									</div>

									<div>
										<div class="box_overlay">
											<div class="pic">
												<figure><img src="img/testimonial_1.jpg" alt="" class="img-circle">
												</figure>
												<h4>Roberta<small>12 October 2015</small></h4>
											</div>
											<div class="comment">
												"Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
											</div>
										</div>
										
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>-->
		
		
		
		
	</main>

	<footer>
		<div class="container">
			<div class="row ">
				<div class="col-md-4 col-sm-6">
					<center><img src="img/logo.jpg" alt="Home Alarms" data-retina="true" id="logo_footer"></center>
					<p style="text-align: justify; font-size: 18px;">Nuestro esfuerzo por mantenernos a la vanguardia con tecnología de punta y con las mejores prácticas en el área de Servicio al Cliente, nos ha permitido establecernos en Guanacaste brindado una solución local que se verá reflejada en nuestra rápida y eficiente respuesta ante sus requerimientos.</p>
				</div>
				<div class="col-md-4 col-sm-3">
					<center><h3 style="font-size: 34px;">Nuestra Ubicación</h3></center><br><br><br>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.457854651915!2d-85.457530685802!3d10.143387992752945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9fb74bcbcc8a2f%3A0x4ed99630ec85e6c3!2sSeguridad+Falcon+Guanacaste!5e0!3m2!1ses!2scr!4v1539307978297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-md-4 col-sm-3" id="contact_bg">
					<center><h3 style="font-size: 34px;">Contacto</h3></center><br><br><br>
					<ul id="contact_details_footer">
						<li id="address_footer" style="font-size: 24px;">&nbsp;&nbsp;Nicoya, Guanacaste,<br>&nbsp;&nbsp;Costa Rica.</li>
						<li id="phone_footer" style="font-size: 24px;"><a href="#">&nbsp;&nbsp;+506 2685-3329</a> <br><a href="#">&nbsp;&nbsp;+506 2685-3329</a></li>
						<li id="email_footer" style="font-size: 24px;"><a href="#">&nbsp;&nbsp;info@seguridadfalcon.com</a></li>
					</ul>
				</div>
			</div><!-- End row -->	
			<div id="social_footer">
				<ul>
					<li><a href="https://www.facebook.com/seguridadfalconcr/" target="_blank"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-google"></i></a></li>
					<li><a href="#"><i class="icon-vimeo"></i></a></li>
				</ul>
			</div>
		</div><!-- End container -->
		<div id="copy">
			<div class="container">
				© Seguridad Falcon 2018 - Todos los Derechos Reservados.
			</div>
		</div><!-- End copy -->
	</footer><!-- End footer -->

	<div id="toTop"></div><!-- Back to top button -->

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>

	<!-- SPECIFIC SCRIPTS -->
	<script>
		'use strict';
		$(".team-carousel").owlCarousel({
			items: 1,
			loop: true,
			margin: 10,
			autoplay: false,
			smartSpeed: 300,
			responsiveClass: false,
			responsive: {
				320: {
					items: 1,
				},
				768: {
					items: 2,
				},
				1000: {
					items: 3,
				}
			}
		});
	</script>
	
			<!-- GOOGLE MAP -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="js/mapmarker.jquery.js"></script>
	<script type="text/javascript" src="js/mapmarker_func.jquery.js"></script>

</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'a2plcpnl0195'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='../img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>