<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SEGURIDAD FALCON-Empresa Nicoyana para su seguridad">
	<meta name="author" content="Ansonika">
	<title>Seguridad Falcon</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/logo1.ico" type="image/x-icon">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/elegant_font/elegant_font.min.css" rel="stylesheet">
	<link href="css/fontello/css/fontello.min.css" rel="stylesheet">
	<link href="css/magnific-popup.min.css" rel="stylesheet">
    
    	<!-- SPECIFIC CSS -->
	<link href="css/shop.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div class="layer"></div><!-- Mobile menu overlay mask -->

	<header>
		<div id="top_line" style="background-color: #000;">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 hidden-xs">
						<span id="tag_line" style="color: #fff;">"Empresa Guanacasteca para su seguridad"</span>
					</div>
					<div class="col-sm-8">
						<ul id="top_links">
							<li><span id="opening" style="color: #fff;">Lunes - Sábado 8:00am/5:00pm</span><a href="tel://004542344599" id="phone_top">(+506) 2685-3329</a></li>
							<li class="hidden-xs"><a href="#" style="color: #fff;">info@seguridadfalcon.com</a></li>
						</ul>
					</div>
				</div><!-- End row -->
			</div><!-- End container-->
		</div><!-- End top line-->

		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div id="logo">
						<a href="index-2.html"><img src="img/FAM2.png" width="220" height="80" alt="Woodworks" data-retina="true"></a>
					</div>
				</div>
				<nav class="col-xs-9">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
					<div class="main-menu"> 
						<div id="header_menu">
							<img src="img/FAM2.png" width="220" height="80" alt="Home Alarms" data-retina="true">
						</div>
						<a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
						<ul>
							<li><a href="index-2.html">INICIO</a></li>
							<li><a href="nosotros.html">NOSOTROS</a></li>
                           <li><a href="callesegura.html">CALLE SEGURA</a></li>
                            <li class="submenu">
								<a href="servicios.html" class="show-submenu">Servicios<i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="servicios.html">Monitoreo</a></li>
									<li><a href="servicios.html">Respuesta Armada</a></li>
									<li><a href="servicios.html">Instalación CCTV</a></li>
									<li><a href="servicios.html">Escolta de Bienes</a></li>
									<li><a href="servicios.html">Soporte Técnico</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="soluciones.html" class="show-submenu">Soluciones <i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="soluciones.html">Cámaras Básicas</a></li>
									<li><a href="soluciones.html">Cámaras Inteligentes</a></li>
									<li><a href="soluciones.html">Cámaras Térmicas</a></li>
									<li><a href="soluciones.html">Plataforma de Software</a></li>
									<li><a href="soluciones.html">Seguridad Perimetral</a></li>
									<li><a href="soluciones.html">Puerta y Ventana Segura</a></li>
									<li><a href="soluciones.html">Acceso de Puerta</a></li>
									<li><a href="soluciones.html">Dispersor Aerosol OC</a></li>
									<li><a href="soluciones.html">Enlace y Redes</a></li>
									<li><a href="soluciones.html">Detectores de Humo</a></li>
									<li><a href="soluciones.html">Extintores</a></li>
									<li><a href="soluciones.html">Comunidad Segura con Falcon</a></li>
								</ul>
							</li>
							<li><a href="abonados.html">ABONADOS</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li><a href="https://www.facebook.com/seguridadfalconcr/" target="_blank"><img src="img/facebook.jpg" alt=""></a></li>
						</ul>
					</div><!-- End main-menu -->
				</nav>
			</div>
		</div><!-- container -->
		<div id="top_line" style="background-color: #ff0000;"></div>
	</header><!-- End Header -->
    
    <section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/signal2.gif" data-natural-width="1400" data-natural-height="350">
		<div id="sub_content_in">
			<div class="container">
				<h1>NUESTRAS SOLUCIONES</h1>
				<p>Conoce nuestra oferta para cualquiera de sus necesidades</p>
			</div>
		</div>
	</section><!-- End section -->
        
	 <main>
        <div class="container margin_60_35">
    	<div class="row">
            <div class="col-md-12">
                <div class="shop-section">
                    
                        <div class="row">

                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu1.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 28px;">Cámaras Básicas</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu2.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 28px;">Cámaras Inteligentes</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->

                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu3.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 28px;">Cámaras Térmicas</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu4.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 24px;">Plataforma de Software</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu5.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 24px;">Seguridad Perimetral</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->

                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu6.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 24px;">Puerta y Ventana Segura</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu7.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 24px;">Acceso de Puerta</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu8.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 24px;">Dispersor Aerosol AC</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->

                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu9.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 24px;">Enlace y Redes</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu10.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 24px;">Detector de Humo</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="img/solu11.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">
                                        <div class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </div>
                                        <h3><a href="#" style="font-size: 24px;">Extintores</a></h3>
                                    </div>
                                </div>
                            </div><!--End Shop Item-->

                        </div><!--End Shop Item-->
                        
                    <hr>

                </div><!-- End row -->
            </div><!-- End col -->
            
            
        </div><!--/row-->
    </div><!--/container--> 
			
	</main><!-- End main -->
	
	<footer>
		<div class="container">
			<div class="row ">
				<div class="col-md-4 col-sm-6">
					<center><img src="img/logo.jpg" alt="Home Alarms" data-retina="true" id="logo_footer"></center>
					<p style="text-align: justify; font-size: 18px;">Nuestro esfuerzo por mantenernos a la vanguardia con tecnología de punta y con las mejores prácticas en el área de Servicio al Cliente, nos ha permitido establecernos en Guanacaste brindado una solución local que se verá reflejada en nuestra rápida y eficiente respuesta ante sus requerimientos.</p>
				</div>
				<div class="col-md-4 col-sm-3">
					<center><h3 style="font-size: 34px;">Nuestra Ubicación</h3></center><br><br><br>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.457854651915!2d-85.457530685802!3d10.143387992752945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9fb74bcbcc8a2f%3A0x4ed99630ec85e6c3!2sSeguridad+Falcon+Guanacaste!5e0!3m2!1ses!2scr!4v1539307978297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-md-4 col-sm-3" id="contact_bg">
					<center><h3 style="font-size: 34px;">Contacto</h3></center><br><br><br>
					<ul id="contact_details_footer">
						<li id="address_footer" style="font-size: 24px;">&nbsp;&nbsp;Nicoya, Guanacaste,<br>&nbsp;&nbsp;Costa Rica.</li>
						<li id="phone_footer" style="font-size: 24px;"><a href="#">&nbsp;&nbsp;+506 2685-3329</a> <br><a href="#">&nbsp;&nbsp;+506 2685-3329</a></li>
						<li id="email_footer" style="font-size: 24px;"><a href="#">&nbsp;&nbsp;info@seguridadfalcon.com</a></li>
					</ul>
				</div>
			</div><!-- End row -->	
			<div id="social_footer">
				<ul>
					<li><a href="https://www.facebook.com/seguridadfalconcr/" target="_blank"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-google"></i></a></li>
					<li><a href="#"><i class="icon-vimeo"></i></a></li>
				</ul>
			</div>
		</div><!-- End container -->
		<div id="copy">
			<div class="container">
				© Seguridad Falcon 2018 - Todos los Derechos Reservados.
			</div>
		</div><!-- End copy -->
	</footer><!-- End footer -->

	<div id="toTop"></div><!-- Back to top button -->

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>
	
			<!-- GOOGLE MAP -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="js/mapmarker.jquery.js"></script>
	<script type="text/javascript" src="js/mapmarker_func.jquery.js"></script>

</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'a2plcpnl0195'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='../img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>