<!--
  Editado por: TecnicoaCR-Team
  Fecha: 10/12/18
-->
<footer>
  <div class="container">
    <div class="row ">
      <div class="col-md-4 col-sm-6">
        <center><img src="img/logo.png" alt="Seguridad Falcon" data-retina="true" id="logo_footer"></center>
        <p style="text-align: justify; font-size: 18px;">
          Diariamente, nuestro equipo de trabajo se esfuerza por mantenerse a la vanguardia
           con las mejores tecnologías y mantener buenas prácticas de Servicio al Cliente.
           Esto nos ha permitido establecer en Guanacaste una solución de calidad empresarial
            reflejada en nuestra rápida y eficiente respuesta ante sus requerimientos.</p>
      </div>
      <div class="col-md-4 col-sm-3">
        <center><h3 style="font-size: 34px;">Visitanos</h3></center><br><br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.457854651915!2d-85.457530685802!3d10.143387992752945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9fb74bcbcc8a2f%3A0x4ed99630ec85e6c3!2sSeguridad+Falcon+Guanacaste!5e0!3m2!1ses!2scr!4v1539307978297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4 col-sm-3" id="contact_bg">
        <center><h3 style="font-size: 34px;">Contáctenos</h3></center><br><br><br>
        <ul id="contact_details_footer">
          <li id="address_footer" style="font-size: 24px;">&nbsp;&nbsp;Nicoya, Guanacaste,<br>&nbsp;&nbsp;Costa Rica.</li>
          <li id="phone_footer" style="font-size: 24px;"><a href="#">&nbsp;&nbsp;+506 2685-3329</a> <br><a href="#">&nbsp;&nbsp;+506 2685-3329</a></li>
          <li id="email_footer" style="font-size: 24px;"><a href="#">&nbsp;&nbsp;ventas@seguridadfalcon.com</a></li>
        </ul>
      </div>
    </div><!-- End row -->
    <div id="social_footer">
      <ul>
        <li><a href="https://www.facebook.com/seguridadfalconcr/" target="_blank"><i class="icon-facebook"></i></a></li>
      </ul>
    </div>
  </div><!-- End container -->
  <div id="copy">
    <div class="container">
      © Seguridad Falcon 2019 - Todos los Derechos Reservados.
    </div>
    <div class="design">
    					  | <a target="_blank" href="/">Edited by</a><a href="#"> TecnicoaCR-Team</a>
    				</div>

  </div><!-- End copy -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->
