<!--
  Editado por: TecnicoaCR-Team
    Fecha: 10/12/18
-->
<header>
  <div id="top_line" style="background-color: #000000;" >
    <div class="container">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <span id="tag_line" style="color: #fff;" href="#">"Para servir y proteger"</span>
        </div>

        <div class="col-sm-8">
          <ul id="top_links">
            <li><span id="opening" style="color: #fff;">Lunes - Sábado 8:00am/5:00pm</span><a id="phone_top">(+506) 2685-3329</a></li>
            <li class="hidden-xs"><a href="mailto:info@seguridadfalcon.com" style="color: #fff;">info@seguridadfalcon.com</a></li>
            <li><a href="https://www.facebook.com/seguridadfalconcr/" target="_blank"><i class="icon-facebook" style="color: #ff0000;"></i></a></li>
            <li><a href="/"><img src="img/es.png" alt=""></a></li>
            <li><a href="en/index.html"><img src="img/en.png" alt=""></a></li>
          </ul>
        </div>
      </div><!-- End row -->
    </div><!-- End container-->
  </div><!-- End top line-->

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div id="logo">
          <a href="#"><img src="img/FAM2.png" width="220" height="80" alt="Woodworks" data-retina="true"></a>
        </div>
      </div>
      <nav class="col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="img/FAM2.png" width="220" height="80" alt="Home Alarms" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="pages/nosotros.html">Nosotros</a></li>
            <li class="submenu">
              <a href="pages/servicios.html" class="show-submenu">Servicios<i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a href="pages/servicios.html">Monitoreo</a></li>
                <li><a href="pages/servicios.html">Respuesta Armada</a></li>
                <li><a href="pages/servicios.html">Instalación CCTV</a></li>
                <li><a href="pages/servicios.html">Escolta de Bienes</a></li>
                <li><a href="pages/servicios.html">Soporte Técnico</a></li>
                <li><a href="pages/callesegura.html">Calle Segura</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="pages/soluciones.html" class="show-submenu">Soluciones <i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a href="pages/soluciones.html">Cámaras Básicas</a></li>
                <li><a href="pages/soluciones.html">Cámaras Inteligentes</a></li>
                <li><a href="pages/soluciones.html">Cámaras Térmicas</a></li>
                <li><a href="pages/soluciones.html">Plataforma de Software</a></li>
                <li><a href="pages/soluciones.html">Seguridad Perimetral</a></li>
                <li><a href="pages/soluciones.html">Puerta y Ventana Segura</a></li>
                <li><a href="pages/soluciones.html">Acceso de Puerta</a></li>
                <li><a href="pages/soluciones.html">Dispersor Aerosol OC</a></li>
                <li><a href="pages/soluciones.html">Enlace y Redes</a></li>
                <li><a href="pages/soluciones.html">Detectores de Humo</a></li>
                <li><a href="pages/soluciones.html">Extintores</a></li>
                <li><a href="pages/soluciones.html">Comunidad Segura con Falcon</a></li>
              </ul>
            </li>
            <li><a href="pages/abonados.html">Clientes</a></li>
            <li><a href="pages/contacto.html">Contacto</a></li>
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div>
  </div><!-- container -->
  <div id="top_line" style="background-color: #ff0000;"></div>

</header><!-- End Header -->
