<header>
  <!-- SubHeader =============================================== -->
  <section class="header-video">
    <div id="hero_video">
      <div>
        <h3> ¡Bienvenidos a </br> Seguridad Falcon!</h3>
        <p> "Empresa Guanacasteca para su seguridad." </p>
        <a id= "btnhdr"class="button_intro" href="pages/cotizando.html">Mostrar Promociones</a> <!-- FALTA AQUIII-->
        <a class="button_intro" href="#intro">Quiero Saber Más</a>
      </div>
    </div>
    <img src="img/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="960">
  </section><!-- End Header video -->
  <!-- End SubHeader ============================================ -->
</header><!-- End Header -->
