<!--
  Editado por: TecnicoaCR-Team
  Fecha: 10/12/18
-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.2">
<meta name="description" content="SEGURIDAD FALCON - Una empresa Guanacasteca por su seguridad">
<meta name="author" content="Ansonika">
<meta name="editor" content="TecnicoaCR">
<title>Seguridad Falcon Guanacaste</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/logo1.ico" type="image/x-icon">

<!-- BASE CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/elegant_font/elegant_font.min.css" rel="stylesheet">
<link href="css/fontello/css/fontello.min.css" rel="stylesheet">
<link href="css/magnific-popup.min.css" rel="stylesheet">

<!-- SPECIFIC CSS -->
<link href="css/skins/square/grey.css" rel="stylesheet">
